html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

div.container {
    height: 100%;
    background-color: gray;

    display: grid;
    grid-template-columns: 1fr, 7fr;
    grid-template-rows: 1fr, 8fr;
}

div.sidebar{
    background-color: red;

    grid-column: 1;
    grid-row: 1/9;

    display: grid;
    grid-template-rows: 3fr 8fr 16fr;
}

div.header{
    background-color: green;
    grid-column: 2/8;
    grid-row: 1/2;
    
}

div.main{
    background-color: blue;
    grid-column: 2/8;
    grid-row: 2/9;
    padding-bottom: 24px;
}

div.logo{
    background-color: aqua;
    grid-row: 1/2;

    align-self: center; 
    justify-self: start;
    padding-left: 45px;;
}

.side-menu {
    background-color: gold;
    display: grid;
}

.side-settings {
    display: grid;
    background-color: olive;
}

.side-menu>ul, .side-settings>ul {
    background-color: white;
    list-style: none;
    display: grid;
    gap: 10px;  
    align-content: start;
}

.side-menu>ul>li, .side-settings>ul>li {
    background-color: olive;
    display: flex;
}

.icon {
    padding-right: 6px;
}

.header {
    display: grid;
    grid-template-rows: 2fr 3fr;
    padding-left: 30px;
}

.header-top {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    /* padding-top: 10px; */
    align-items: center;
}

.search {
    background-color: teal;
    display: grid;
    grid-template-columns: 1fr 30fr;
    padding-bottom: 0px;
}

.header-profile{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-items: start;
    background-color: blueviolet;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.header-bottom {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-between;
}

.header-bottom-left{
    display: flex;
    background-color: red;
    align-items: center;
}

.header-bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

button.header-button{
    /* padding-left: 10px;
    padding-right: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 100px;
    border-style: none;
}

div.main{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

div.projects{
    padding-left: 10px;
    padding-right: 10px;
}

div.main-sidebar{
    background-color: brown ;
}

div.cards{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

div.card{
    height: 190px;
    background-color: white;
    display: grid;
    grid-template-columns: 8px 1fr;
}

div.card-color{
    background-color: gold;
}

div.card-content{
    display: grid;
    grid-template-rows: 42px 1fr 42px; 

    padding-left: 16px;
}

div.card-title {
    display: flex;
    align-items: end;
    /* position: fixed; */
    /* bottom: 0px; */
}

div.card-body{
    background-color: red;
}

div.card-icons{
    background-color: orange;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: end;
    align-items: end;
    padding-right: 32px;
    padding-bottom: 12px;
}

div.card-icon{
    padding-left: 32px;
}

div.announcements, div.trending {
    background-color: gray;
}

div.announcement-container, div.trending-container{
    background-color: white;
    padding-left: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

div.announcement, div.trending-project{
    background-color: aquamarine;
    padding-top: 12px;
    padding-bottom: 12px;
}

div.trending-project{
    display: flex;
}

div.user-icon{
    padding-right: 24px;
    align-self: center;
}