html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

div.container {
    height: 100%;
    background-color: gray;

    display: grid;
    grid-template-columns: 1fr, 5fr;
    grid-template-rows: 1fr, 8fr;
}

div.sidebar{
    background-color: red;

    grid-column: 1;
    grid-row: 1/9;

    display: grid;
    grid-template-rows: 3fr 8fr 16fr;
}

div.header{
    background-color: green;
    grid-column: 2/6;
    grid-row: 1/3;
    
}

div.main{
    background-color: blue;
    grid-column: 2/6;
    grid-row: 3/9;
}

div.logo{
    background-color: aqua;
    /* padding: 20px; */
    grid-row: 1/2;

    align-self: center; 
    justify-self: start;
    padding-left: 45px;;
}

.side-menu {
    background-color: gold;
}

.side-settings {
    background-color: olive;
}

.side-menu>ul, .side-settings>ul {
    
    list-style: none;
    display: grid;
    justify-content: space-between;
    align-items: space-around;


}

.side-menu>ul>li, .side-settings>ul>li {
    /* background-color: olive; */
    padding: 10px;

}